<form name="settingsForm" class="form-horizontal" ng-submit="settings.saveSettings()">

  <div class="page">
    <h1 class="header">Settings</h1>

    <nav class="page-operations">
      <div class="page-operations-content">
        <ul>
          <li><a class="btn-danger" ng-click="settings.resetSettings();"><i class="fa fa-fw fa-eraser"></i> Reset</a>
          </li>
          <li><button class="btn-success" type="submit"><i class="fa fa-fw fa-check"></i> Save</button></li>
        </ul>
      </div>
    </nav>

    <div class="content">

      <h2>Editor</h2>

      <div class="form-group" ng-class="{'has-error':settingsForm.snap_x.$invalid}">
        <label for="snap_x" class="col-sm-3 control-label">Snap X</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" name="snap_x" ng-model="settings.settings.snap_x" min="1" ,
            required>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error':settingsForm.snap_y.$invalid}">
        <label for="snap_y" class="col-sm-3 control-label">Snap Y</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" name="snap_y" ng-model="settings.settings.snap_y" min="1" ,
            required>
        </div>
      </div>



      <div class="form-group">
        <label for="layout" class="col-sm-3 control-label">Layout</label>
        <div class="col-sm-9">
          <label class="radio-inline">
            <input type="radio" name="layout" id="layout-horizontal" value="horizontal"
              ng-model="settings.settings.layout"> Horizontal
          </label>
          <label class="radio-inline">
            <input type="radio" name="layout" id="layout-vertical" value="vertical" ng-model="settings.settings.layout">
            Vertical
          </label>
        </div>
      </div>



    </div>
  </div>

</form>