<div ng-controller="NodespanelController as nodespanel" class="full-height side-panel">
  <!--   
  <nav class="panel-operations">
    <div class="panel-operations-content">
      <ul>
        <li><a class="btn-success" ng-click="nodespanel.newTree();"><i class="fa fa-plus"></i> New tree</a></li>
        <li><a class="btn-success" ui-sref="editor.editnode"><i class="fa fa-plus"></i> New node</a></li>
      </ul>
    </div>
  </nav>
 -->


  <div class="node-list">
    <div class="title">
      <a class="new btn btn-link btn-xs" style="display:none" onmouseover="this.style.display='inline-block';"
        onmouseout="this.style.display='none'" ng-click="nodespanel.newTree();"><i class="fas fa-plus-circle"></i>
        New</a>

      <a onmouseover="this.parentElement.firstElementChild.style.display='inline-block';"
        onmouseout="this.parentElement.firstElementChild.style.display='none';">
        Trees
      </a>
    </div>

    <div class="node-list-content">
      <div class="node-list-category">
        <!-- <div ng-click="" class="node-list-title">trees</div> -->
        <ul>
          <li ng-repeat="tree in nodespanel.trees">
            <a class="remove btn btn-link btn-xs" style="display:none" onmouseover="this.style.display='inline-block';"
              onmouseout="this.style.display='none'" ng-click="nodespanel.remove(tree.id)"><i class="fas fa-times"></i>
              Remove</a>

            <a onmouseover="this.parentElement.firstElementChild.style.display='inline-block';"
              onmouseout="this.parentElement.firstElementChild.style.display='none';" data-name="{{tree.id}}"
              ng-class="{active:tree.active}" ng-click="nodespanel.select(tree.id)" b3-drag-node ng-bind="tree.name">

            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="title">
      <a class="new btn btn-link btn-xs" style="display:none" onmouseover="this.style.display='inline-block';"
        onmouseout="this.style.display='none'" ui-sref="editor.editnode"><i class="fas fa-plus-circle"></i> New</a>

      <a onmouseover="this.parentElement.firstElementChild.style.display='inline-block';"
        onmouseout="this.parentElement.firstElementChild.style.display='none';">
        Nodes
      </a>
    </div>

    <div class="node-list-content">
      <div ng-repeat="(category, nodes) in nodespanel.nodes" class="node-list-category">

        <div ng-click="" class="node-list-title" onmouseover="this.firstElementChild.style.display='inline-block';"
          onmouseout="this.firstElementChild.style.display='none';">

          <a class="new btn btn-link btn-xs" style="display:none" ui-sref="editor.editnode({category:category})"><i
              class="fas fa-plus-circle"></i> New</a>

          <span ng-bind="category+'s'"></span>

        </div>
        <ul>
          <li ng-repeat="node in nodes" tooltip-html-unsafe="{{node.description}}" tooltip-placement="right"
            tooltip-append-to-body="true">
            <a class="edit btn btn-link btn-xs" style="display:none" onmouseover="this.style.display='inline-block';"
              onmouseout="this.style.display='none'" ng-hide="{{node.isDefault}}"
              ui-sref="editor.editnode({name:node.name})"><i class="fas fa-edit"></i> Edit</a>

            <a class="no-select" data-name="{{node.name}}"
              onmouseover="this.parentElement.firstElementChild.style.display='inline-block';"
              onmouseout="this.parentElement.firstElementChild.style.display='none';" b3-drag-node>
              <i class="{{node.icon.className}}"></i>
              <span ng-bind="node.title"></span>
            </a>
          </li>
        </ul>
        <ul class="empty" ng-hide="nodes.length">
          <li style="opacity: 0.5;">No nodes</li>
        </ul>
      </div>

    </div>
  </div>

</div>